.events-container {
	max-width: 800px;
	width: 100%;
	display:flex;

	event {
		flex-direction: row;
		position: relative;
		width: 200px;
		img {
			position:relative;
			max-width: 100%;
			height:auto;
		}
	}

}