$box-size: 200px;
$calendar-size: 60px;
$haa-color: #4a0;

.events-container {
	max-width: 800px;
	width: 100%;
	display:flex;
	justify-content: space-between;
	align-content: space-between;
	margin:auto;

	.event {
		cursor: hand;
		flex-direction: column;
		justify-content: center;
		width: $box-size;
		height: $box-size+100;
		display:flex;
		position:relative;
		align-content:center;
		.date {
			display: flex;
			position:absolute;
			flex-direction:column;
			background:white;
			line-height: 1.1;
			text-align:center;
			margin-left: ($box-size - $calendar-size) / 2;
			width: $calendar-size;
			bottom: -1px;
			font-family: 'Source Code Pro', monospace;
			border-radius: 5px;
			border: 3px solid $haa-color;
			.month {
				background: $haa-color;
				font-weight: 900;
				font-size: 12px;
				color:white;
				padding-bottom:3px;
			}
			.day {
				font-size: 30px;
				font-weight: 900;
			}
			.year {
				background: $haa-color;
				font-size: 10px;
				padding-top: 3px;
			}
		}
		img {
			position:relative;
			max-width: 100%;
			height: $box-size;
			object-fit:cover;
		}
		.link {
			height: 3.5em;
			position:relative;
			a {
				position:absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

}